# docker-compose.yml設定

# Dockerで利用する環境変数 ##
export PROJECT_ROOT=$(pwd)
export PROJECT_NAME=nextjs
# .devcontainerから$PROJECT_NAMEの置き換わるパス
export PROJECT_NAME_DIR_PATH="${PROJECT_ROOT}/.${PROJECT_NAME}"
# この環境変数にプロジェクトのマウント先のディレクトリパスを記述する
# このパスがDockerのnodeコンテナのエントリーポイントとなる
export VOLUME_PATH="${HOME}/projects"

export APP_NAME=nextjs
export DB_DATABASE=nextjs_db
export DB_USER=user
export DB_PASSWORD=password
export USER=user

# 128Mの形式で指定する
export MEMORY_LIMIT=128M
export UPLOAD_LIMIT=64M

# PhpMyadmin servic 公開側ポート
export PHP_MYADMIN_PUBLIC_PORT=29102
# proxy service 公開側ポート
export PROXY_PUBLIC_PORT=29101
export PROXY_SSH_PORT=
export NODE_PORT=3000
